.App {
  background-color: #282c34;
  text-align: center;
  min-height: 100vh;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 10vh;
  pointer-events: none;
}

.link {
  color: #b318f0;
}
